.quantity input[type=number]::-webkit-inner-spin-button, .quantity input[type=number]::-webkit-outer-spin-button, .quantity input[type="number"] {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.quantity input[type="number"] {
    padding: 0;
    text-align: center;
}
.woocommerce .product .tpsinglecart form.cart {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
}
.quantity {
    display: inline-flex;
}
.quantity button[type="button"] {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}
.woocommerce .quantity .qty {
    border-radius: 0;
    border-right: none;
    border-left: none;
}	
.woocommerce .product .tpsinglecart form.cart .button{
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;    
}
.woocommerce .product .tpsinglecart form.cart .button.tpbuynow{
    width: 100%;
    flex: auto;    
}
.tpsinglecart .single_variation_wrap {
    width: 100%;
}
.tpsinglecart .woocommerce-variation-add-to-cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
}
.woocommerce .product .tpsinglecart form.cart .quantity{
    margin-right: 0px;
}
.woocommerce .product .tpsinglecart .tp-add-to-cart {
    flex: 1;
    display: flex;
    position:relative;
}
.woocommerce .product .tpsinglecart .button.loading::after {
    border-radius: 50%;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    
  font-size: 0;
    margin-top: -10px;
    margin-left: -10px;
    left: 50%;
    top: 50% !important;
    transform: translate(-50%,-50%);
    animation: load8 1.1s infinite linear !important;

    border-left: 2px solid #fff;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;  
}
.woocommerce .product .tpsinglecart .added_to_cart {
    width: 100%;
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

