.tp-recent-post .item {
    overflow: hidden;
    clear: both;
    position: relative;
}

.tp-recent-post .entry-media {
    width: 80px;
    float: left;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
}

.tp-recent-post .grid-content {
    overflow: hidden;
    position: relative;
}

.tp-recent-post .entry-media img{
    width:100%;
} 
.tp-recent-post .inner{
    overflow: inherit;
}