 .tp-circle-dot
 {
    width: 400px;
    height: 400px;
     position: relative;
}
 .tp-circle-dot .tp-border{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;    
}
 .tp-circle-dot .dots{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}
 .tp-circle-dot .dots span{
     position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;   
}
 .tp-circle-dot .dots span:nth-child(1) {
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
}
 .tp-circle-dot .dots span:nth-child(2) {
top: 50%;
    right: -4px;
    transform: translateY(-50%);    
}
 .tp-circle-dot .dots span:nth-child(3) {
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);    
}
 .tp-circle-dot .dots span:nth-child(4) {
     top: 50%;
    left: -4px;
    transform: translateY(-50%);   
} 