
  .tp-tab-1 .tab-area {
    margin: 0;
    padding: 0;
}

.tp-tab-1 .tab-area li {
    cursor: pointer;
}

.tp-tab-1 .tab-content {
    display: none;
}
 
.tp-tab-1 .tab-content.active {
    display: block;
}

.tp-tab-1 .tab-content.active {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

.tp-tab-1 .tab-content p {
    margin: 0;
}

