.tp-service-hover-bg .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
     opacity: 0;
    visibility: hidden;
     
}    
.tp-service-hover-bg .bg img{
object-fit: cover;  
height: 100%;
}
.tp-service-hover-bg .bg::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.tp-service-hover-bg:hover .tp-title{
transform: translateX(10px);    
}
.tp-service-hover-bg:hover a{
transform: translateX(-10px);    
}
.tp-service-hover-bg:hover .bg
 {
    transform: scale(1.1);
    opacity: 1;
    visibility: visible;
}

.tp-service-hover-bg .tp-content{
    align-items: center;
}    

.tp-service-hover-bg .tp-desc{
    flex: 1;    
    justify-content: space-between;
}
.tp-service-hover-bg .tp-desc .desc{
    max-width: 450px;
}
.tp-service-hover-bg .tp-title{
display: inline-flex;   
    align-items: center; 
        flex: 0 0 30%;
    gap: 40px;
}  