.xld-separator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.xld-separator .xld-sep-hldr {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 11%;
}

.xld-separator .xld-sep-hldr .xld-sep-lne {
    border-top: 1px solid #eeee;
    display: block;
    position: relative;
    width: 100%;
}
.xld-separator .tbicon{
    display: flex;
    justify-content: center;
    align-items: center;    
}